[2021-01-28 14:31] madewild opened #1 "Fuzzy search with multi-word"
and booleans

[2021-01-28 16:26] madewild opened #2 "Add pagination"
To show more than 10 hits

[2021-01-28 19:09] madewild opened #3 "Add domain name + SSL certificate + htpasswd"
Waiting for domain name...

[2021-02-02 22:10] madewild commented on #1
Also find a way to display fuzzy option in CSS search form

[2021-02-02 22:11] madewild commented on #2
And nicer search results btw...

[2021-02-03 15:00] madewild opened #4 "Return button does not work with quotes"
Quotes should be escaped in return form

[2021-02-08 20:54] #3 closed

[2021-02-08 20:55] madewild opened #5 "Export button"
Exporting XML or TXT ? Limit ?

[2021-02-09 10:08] #2 closed

[2021-02-09 10:09] madewild commented on #4
Return button was removed, problem solved!

[2021-02-09 10:09] #4 closed

[2021-02-09 10:20] madewild opened #6 "Add filters"
On newspaper, year (cursor)...

[2021-02-09 11:58] madewild opened #7 "Increase EBS volume"
To 60GB/node

[2021-02-09 21:56] madewild commented on #1
Not working with complex queries, so disabled
Not implemented on homepage but working on results page

[2021-02-09 21:56] #1 closed

[2021-02-15 10:25] madewild opened #8 "Vizualize PDFs"

[2021-02-15 10:29] madewild commented on #8
Like Google Images? BnF? Other?

[2021-02-15 10:30] madewild opened #9 "Better metadata"
Add journal name in natural language etc

[2021-02-15 10:31] madewild commented on #6
From date/year to year/date cursor
By page number (first page)
By edition

[2021-02-15 10:32] madewild opened #10 "Proximity search"
Define distance between two terms with AND

[2021-02-15 10:34] madewild commented on #5
More than 10.000 results?

[2021-02-15 10:35] madewild opened #11 "Show real total number"
track_total_hits=true for count api

[2021-02-15 10:36] madewild opened #12 "Move to elastic.co?"
Elasticsearch managed service too expersive with 3 nodes

[2021-02-15 10:47] madewild opened #13 "Add search documentation"
Explain Lucene syntax, results...

[2021-03-05 13:13] #7 closed

[2021-03-05 13:14] madewild opened #14 "Correct outliers"
In JB838 and JB1051

[2021-03-05 13:15] madewild commented on #12
Elastic.co is also expensive, better downscaling to 2 nodes after import finished

[2021-03-05 13:15] #12 closed

[2021-03-05 13:16] madewild opened #15 "Downscale elastic cluster to 2 nodes"
To save money once all XML are there. Hoping it will not crash...

[2021-03-05 13:16] madewild commented on #11
Only useful when > 10.000 docs

[2021-03-06 10:55] #14 closed

[2021-03-08 16:10] madewild commented on #8
See https://mozilla.github.io/pdf.js/examples/

[2021-03-15 13:27] madewild commented on #10
See https://platform.newseye.eu/en and syntax « "vote femme" ~10 »

[2021-03-15 13:27] madewild commented on #10
also https://github.com/newseye for implementation details

[2021-03-15 13:28] madewild commented on #6
also by day of the week

[2021-03-24 21:09] #11 closed

[2021-03-24 21:34] #9 closed

[2021-03-24 21:37] madewild commented on #8
First version ready with pdf.js, to improve later

[2021-03-25 19:37] madewild commented on #6
Also allow to select multiple newspapers

[2021-03-25 19:37] madewild commented on #8
+ function to close image/pdf

[2021-03-25 19:39] madewild opened #16 "Ranking options"
Allow to override default ranking (by relevance) to rank by date for instance

[2021-03-25 21:07] madewild commented on #10
This is actually Lucene standard syntax automatically supported by ES, magic! :-)

https://www.camille-ulb-kbr.be/?query=%22vote+femme%22%7E10

[2021-03-25 21:07] #10 closed

[2021-03-25 21:25] madewild commented on #13
see https://platform.newseye.eu/en search help

[2021-03-25 21:26] madewild commented on #15
To be tested in early May

[2021-03-25 21:29] madewild commented on #16
always default to relevance then allow to resort by date (increasing or decreasing)
see https://platform.newseye.eu/en/catalog?page=1&per_page=10&q=%22de+wilde%22&search_field=articles_exact_search&utf8=%E2%9C%93

[2021-03-25 21:32] madewild commented on #6
Use filters as limit on rather than search options (with left bar?)

[2021-03-25 21:32] madewild commented on #8
Visualize in overlay or other page? Allow to navigate PDF

[2021-03-26 08:09] madewild commented on #13
FR or EN?

[2021-03-26 08:26] madewild commented on #6
+ close filters

[2021-03-26 08:26] madewild opened #17 "Case sensitive search"
Allow to perform case-sensitive searches, e.g. only "jambes" without including the city of "Jambes"

[2021-03-26 08:29] madewild opened #18 "Segmentation of articles"
Cf. https://tw06v072.ugent.be/kbr/ and https://github.com/filipradenovic/cnnimageretrieval-pytorch

[2021-03-30 13:07] madewild commented on #5
TXT only

[2021-03-31 13:42] madewild commented on #6
+ histogram and date slider

[2021-03-31 13:43] madewild commented on #8
PDF reader possible in overlay? if not put image in overlay then link to pdf in new tab

also, check what pdfJS is doing when loading the PDF image (text seems to appear first, are there options to keep it?)

[2021-03-31 13:44] madewild commented on #6
Allow to search only with filters with no keyword (only pages of some journal/year/date etc)

Use * for that ?

[2021-04-01 07:23] madewild commented on #5
Limit to 500

[2021-04-01 21:32] madewild commented on #17
Even Google does not allow that: https://support.google.com/websearch/answer/134479

Possible in ES with mappings but need to reindex everything... postponed

[2021-04-01 21:47] madewild commented on #17
See https://stackoverflow.com/questions/52746307/elasticsearch-search-query-is-not-case-sensitive

[2021-04-27 20:04] #13 closed

[2021-04-29 20:14] #5 closed

[2021-04-30 06:31] #15 closed

[2021-04-30 10:00] madewild opened #19 "Add stats to export"
Add basic stats in the zip (number of files, breakdown by journal, etc.)

[2021-05-05 19:50] madewild opened #20 "Add README to export"
Add README file (+ basic LICENSE?) with some explanations about the contents (limit of 500 files, format, etc.)

[2021-05-05 19:51] madewild opened #21 "Add about page"
With some explanations about the project

[2021-05-05 19:51] madewild commented on #16
Also reuse ranking in export

[2021-05-05 22:22] #8 closed

[2021-05-06 07:36] anjacque opened #22 "Enrich "External Resources" page"
CAMille will provide users with a set of external online resources related to the history of journalism in Belgium.

For the moment, only write "Under construction"

[2021-05-06 07:40] madewild commented on #21
thanks @anjacque for the data!

[2021-05-06 08:34] madewild opened #23 "Add disclaimer popup"

[2021-05-06 14:02] madewild commented on #20
thanks @anjacque, it's added to each export

[2021-05-06 14:02] #20 closed

[2021-05-06 14:04] madewild opened #24 "Clean up temp folder periodically"
Cron job?

[2021-05-06 14:49] #16 closed

[2021-05-06 21:02] madewild opened #25 "Create contact email"
Possible with route53?

[2021-05-07 07:07] #23 closed

[2021-05-07 07:07] #21 closed

[2021-05-07 07:09] madewild commented on #22
Enrich later

[2021-05-07 08:29] madewild commented on #25
Email works with SES but formatting is bad, need to replace SNS by Lambda with https://github.com/wparad/ses-forwarder.js, https://github.com/arithmetric/aws-lambda-ses-forwarder or similar

[2021-05-07 12:30] madewild opened #26 "Harmonise menu font on results page"
Tweak css for font size/style

[2021-05-07 12:30] madewild opened #27 "Add logos on about page"
@anjacque can you provide them?

[2021-05-07 12:31] madewild opened #28 "Add help page"
In addition to modal

[2021-05-07 13:06] anjacque opened #29 "Rename README.txt into _README.txt"
So that it will be by default the first file in the list, which is potentially 500 files long

[2021-05-07 13:19] madewild commented on #29
Done but does not work for all platforms, as can be seen for me:
![zip](https://user-images.githubusercontent.com/942488/117455594-a45c8e00-af47-11eb-888b-7f72ead69228.png)

[2021-05-07 13:21] anjacque commented on #27
![logo-kbr](https://user-images.githubusercontent.com/65342272/117455900-ebe31a00-af47-11eb-9f0b-9f317194be8f.png)
![logo ulb bleu](https://user-images.githubusercontent.com/65342272/117455901-ec7bb080-af47-11eb-8327-89e3cb29fac7.jpg)

[2021-05-07 13:24] madewild commented on #29
@anjacque what do you suggest? we can try with a 0 (zero) instead?

[2021-05-07 13:41] anjacque commented on #29
I have the same as you in the zip file with "_README.txt", but it works when the zip is extracted.

[2021-05-07 13:43] madewild commented on #29
Not on Linux with Gnome/Nautilus:
![nautilus](https://user-images.githubusercontent.com/942488/117458848-04086880-af4b-11eb-8065-28e9684c9541.png)

[2021-05-07 14:33] #27 closed

[2021-05-07 17:08] #28 closed

[2021-05-07 17:09] #29 closed

[2021-05-07 17:37] madewild commented on #26
lato font imported in all css

[2021-05-07 17:37] #26 closed

[2021-05-10 07:22] madewild opened #30 "Filter by exact date"
input field with calendar (from - to)

[2021-05-10 07:23] madewild opened #31 "Filter by edition"
Parse id and reindex ES

[2021-05-10 07:24] madewild opened #32 "Filter by page number"
Parse id and reindex ES

[2021-05-10 07:25] madewild opened #33 "Filter by multiple months"
Parse id and reindex ES

[2021-05-10 07:25] madewild opened #34 "Filter by day number"
Parse id and reindex ES

[2021-05-10 07:25] madewild opened #35 "Filter by multiple days of the week"
Use universal calendar??

[2021-05-10 07:26] madewild commented on #34
e.g. for 1st of May across years etc.

[2021-05-10 07:28] madewild opened #36 "Filter by multiple newspapers"
Currently only possible one by one (newseye style), to replace by checkboxes or multiselect?

[2021-05-10 07:29] madewild opened #37 "Histogram"
For overview of hits across years

[2021-05-10 07:29] madewild opened #38 "Top bar with filter summaries"
Like newseye, needed?

[2021-05-10 07:31] madewild opened #39 "No query"
Allow to search only with filters with no keyword (only pages of some journal/year/date etc)

Use * for that ?

[2021-05-10 07:31] madewild commented on #39
Caution with highlighting... currently triggering an internal server error!

[2021-05-10 07:32] #6 closed

[2021-05-10 07:35] madewild commented on #19
Dynamic stats based on actual content of export

[2021-05-10 07:35] madewild opened #40 "Detect named entities"
Using spaCy?

[2021-05-10 07:36] madewild commented on #38
@anjacque open question for later...

[2021-05-10 12:34] madewild opened #41 "Remove OK button for sorting"
Sort by date asc/desc automatically on select

[2021-05-10 12:52] madewild opened #42 "Filter by language"
Add language field in ES to anticipate for NL docs

[2021-05-10 12:56] madewild opened #43 "Localize website in NL and EN"

[2021-06-16 09:55] madewild commented on #17
Need to keep this as an option, not a feature!

[2021-06-29 21:57] madewild commented on #39
Working in dev: https://dev.camille-ulb-kbr.be/?query=*
@anjacque could you test? As we have nothing to highlight I put the first 500 chars by default

[2021-06-30 07:48] madewild commented on #17
tricky, postponed

[2021-06-30 09:08] madewild opened #44 "Wrong strikethrough"
<S interpreted as strikethrough in https://dev.camille-ulb-kbr.be/?query=*&paper=JB421&sortcrit=relevance&year_from=1930&year_to=1930

[2021-06-30 12:27] madewild commented on #39
add to help

[2021-07-01 20:07] #39 closed

[2021-07-01 20:16] madewild commented on #41
fixed with onchange in ajax

[2021-07-01 20:16] #41 closed

[2021-07-01 20:41] madewild commented on #24
should be cleaned every monday morning (files older than 14 days deleted) in dev and prod

[2021-07-01 20:41] #24 closed

[2021-07-01 21:37] madewild commented on #25
working with s3 + lambda
@anjacque would you like to receive the emails sent to contact@... ? I can explain you how.

[2021-07-01 21:48] madewild commented on #44
fixed by removing opening brackets < from html rendering (left in original txt)

[2021-07-01 21:49] #25 closed

[2021-07-02 06:19] madewild commented on #33
Deployed in dev

[2021-07-02 06:20] madewild commented on #33
@anjacque can you test?

[2021-07-02 06:57] anjacque commented on #33
It works, thanks! Two questions:
1) Would it be possible to select multiple months (November AND December, for instance)?
2) Would it be possible (maybe when the "exact date filter" is developed) to request a specific period, like "from March 1902 to May 1903", or even "from 5 March 1902 to 6 May 1903"?
One thing to be discussed/fixed:
When you select a Month with this filter and change the period

[2021-07-02 08:53] madewild commented on #33
@anjacque Great testing, thanks. :) My answers:
1. it's the same as for journals, so I could implement the same solution
2. this is exactly the goal of the exact date filter ;)
3. this is a bug, will fix

[2021-07-02 09:54] madewild commented on #33
@anjacque for 3 should be better now

I leave open for the multiple months

[2021-07-02 12:31] madewild commented on #35
this is implemented in dev, @anjacque can you test?
also, do you also need multiple days selection like for journal and month?

[2021-07-02 12:43] anjacque commented on #35
Thanks!
Yes, for the multiple days selection (it could be interesting to allow a request on "Saturdays AND Sundays" if someone is interested in weekends editions, for exemple).
I suppose that you know this, but we have the same bug here as in the "Month filter": changing the "Year filter" removes the "day of the week filter".

[2021-07-02 14:15] madewild commented on #35
@anjacque oh I had misunderstood the issue! should be fixed now :)
I leave open for multiple days like saturday + sunday

[2021-07-02 14:21] madewild commented on #37
We might run into performance issues here since we need access to all results and not just first page...

[2021-07-03 07:25] madewild commented on #44
breaking <span class='serp__match'> for highlighting, reopening :(

[2021-07-03 07:27] madewild commented on #44
temporary solution removing <S, to improve later

[2021-07-03 09:44] madewild commented on #44
better fix now, closing

[2021-07-03 09:44] #44 closed

[2021-07-05 20:19] madewild commented on #31
@anjacque this is implemented in dev: we have 5 possible editions + 2 special editions
could you test and provide feedback? again, do we need to be able to select multiple editions at the same time?

[2021-07-05 20:28] madewild commented on #42
@anjacque also implemented in dev, you can test but I don't expect any trouble since there is only French for now ;)

[2021-07-05 20:39] madewild commented on #32
@anjacque for this I put a quick filters like the others to test, but the list is a bit long and there are probably some bigger than 32...
should we go for a slider like the one of the years? it would allow single pages ("une") or ranges ("pages from 10 to 15") but not "first and last page" for instance.

[2021-07-05 20:51] madewild commented on #34
@anjacque same thing here, I created a first draft filter but maybe not convenient to have the 31 days listed and a range slider would be more appropriate?
ok stopping for tonight anyway :)

[2021-07-06 09:04] madewild opened #45 "Clear all filters at once"

[2021-07-06 09:04] madewild opened #46 "Keep all filters when new query"

[2021-07-06 09:10] #42 closed

[2021-07-06 09:15] #31 closed

[2021-07-06 09:19] madewild commented on #36
use checkboxes like on cibleplus?

[2021-08-19 15:40] madewild commented on #25
for reference: https://medium.com/responsetap-engineering/easily-create-email-addresses-for-your-route53-custom-domain-589d099dd0f2

[2021-09-02 17:59] madewild commented on #22
@anjacque will you provide this or should I postpone to v4 while waiting for someone else to assign it to?

[2021-09-02 20:21] madewild commented on #34
Slider implemented in dev.
@anjacque can you test?

[2021-09-02 20:55] madewild commented on #32
Slider implementer in dev.
L'Indépendance belge of 04/06/1927 (special English edition) has 70 pages, so I put this as max value.
@anjacque can you test also this one? especially the interaction with other filters...

[2021-09-02 21:06] madewild commented on #46
Quick fix, this should work now in dev.
@anjacque I chose not to persist the sorting order (so it's reset to relevance if you change the query term, even if the previous sort was by date) because this seems strange to me, but if needed it can be added.

[2021-09-02 21:06] #46 closed

[2021-09-02 21:41] madewild commented on #45
@anjacque : done, refresh the cache to set the CSS right (otherwise the red cross with be displayed below)

[2021-09-03 07:31] madewild commented on #45
Only show cross when some filters are active!

[2021-09-08 19:51] #45 closed

[2021-09-08 21:35] madewild commented on #30
implemented in dev
interaction with other filters is tricky so I may have forgotten something... @anjacque could you test different combinations of filters including exact date in order to confirm everything is ok?

[2021-09-09 07:19] madewild commented on #36
Implemented in dev with a dropdown. A bit less sexy than the simple list, but the functionality is there (css can be improved later).
You can now (un)select multiple newspapers with the CTRL key (command key on Mac). This should play nicely with other filters.
@anjacque could you test before I replicate for months and days of the week ?

[2021-09-09 11:18] madewild commented on #36
New test with checkboxes: https://dev.camille-ulb-kbr.be/?query=*&sortcrit=relevance&paper=JB421&paper=JB555&paper=JB567

[2021-09-09 12:12] madewild commented on #33
implemented in dev

[2021-09-09 12:12] #33 closed

[2021-09-09 12:57] madewild commented on #35
implemented in dev

[2021-09-09 12:57] #35 closed

[2021-09-09 14:50] anjacque commented on #22
Florence said she would write this page. I have just asked her again if it is possible for this version. I will let you know as soon as possible.

[2021-09-09 15:07] anjacque commented on #30
It seems to work properly! Two things if we want to improve it even more:
1) We could make impossible to enter "impossible requests" in combination with other filters (for example, when the "Exact date" filter does not fit the years selected in the "Year Filter"). For now, it only shows "Aucun résultat". Could the different filters work in a dynamic way?
2) The drop-down menu for the year selectio

[2021-09-09 15:10] anjacque opened #47 "Different font for the "Year" filter"
The font for the text containing the selected years in the "Year" filter is not the same as the one for the rest of the page and the other filters.

[2021-09-09 15:17] anjacque commented on #32
It works but there are two problems with the text line containing the page numbers
1) It is too short on my screen: the end of the line is hidden even if there is still space on the right to make it appear (see picture)
![image](https://user-images.githubusercontent.com/65342272/132713731-6814ada7-af51-4edf-a4ea-ae46dab384d5.png)

2) The font is not the same as on the rest of the page (same proble

[2021-09-09 15:26] anjacque commented on #34
It works! Two things:
1) The text line does not have the same font as the rest of the page (also see other issues).
2) We will have problems with that filter when we add other collections that are not newspapers (I think of the Annuaires de la presse belge, for instance, which can be more than 500 pages long, and that we are going to digitise soon). Wouldn't it be better to set two boxes with From

[2021-09-09 15:29] anjacque commented on #34
It works, but the text line does not have the same font as the rest of the page (also see other issues).

[2021-09-09 15:39] anjacque commented on #36
This is really nice, now: thanks for your tenacity! :-)
An idea to be discussed later: we could add a "(Un)Select all" button, which could allow to go faster if the user only wants to (un)select one or two newspaper(s) (the same could be done for other filters with checkboxes). But this "(Un)Select all" button should work without activating the filter, otherwise it could be problematic.

[2021-09-10 05:30] madewild commented on #47
should be ok now but difficult to be sure because the font rendering is different on every computer... can you confirm?

[2021-09-10 05:39] madewild commented on #32
The font should be fixed but I am unable to reproduce the other problem, I will need your help to debug it.

As for the move to another kind of filter, let's tackle this when the need arises. ;)

[2021-09-10 05:40] madewild opened #48 "Change page number filter to 2 boxes"
To allow larger page numbers (e.g. 500) which might be inconvenient in a slider.

[2021-09-10 05:41] madewild commented on #32
Created issue #48 for this.

[2021-09-10 06:40] madewild opened #49 "Improve exact date filter"
It seems to work properly! Two things if we want to improve it even more:
1) We could make impossible to enter "impossible requests" in combination with other filters (for example, when the "Exact date" filter does not fit the years selected in the "Year Filter"). For now, it only shows "Aucun résultat". Could the different filters work in a dynamic way?
2) The drop-down menu for the year selectio

[2021-09-10 06:41] madewild commented on #30
Not impossible but I would keep for later, I created issue #49. Closing now.

[2021-09-10 06:41] #30 closed

[2021-09-10 06:42] madewild commented on #34
Should be fine now, closing (if not you can reopen).

[2021-09-10 06:42] #34 closed

[2021-09-10 06:46] madewild opened #50 "Add (un)select all option for checkbox filters"
An idea to be discussed later: we could add a "(Un)Select all" button, which could allow to go faster if the user only wants to (un)select one or two newspaper(s) (the same could be done for other filters with checkboxes). But this "(Un)Select all" button should work without activating the filter, otherwise it could be problematic.

_Originally posted by @anjacque in https://github.com/madewild/CA

[2021-09-10 06:46] madewild commented on #36
Added in #50, closing now.

[2021-09-10 06:46] #36 closed

[2021-09-10 06:56] madewild commented on #32
Probably a css glitch, closing now but feel free to reopen if it arises again.

[2021-09-10 06:56] #32 closed

[2021-09-10 06:56] madewild commented on #47
Working.

[2021-09-10 06:56] #47 closed

[2021-09-10 08:41] madewild opened #51 "Activate multiple filters at once?"
With global OK button?

[2021-09-10 08:47] madewild opened #52 "Update about page + readme file in export"
Change names...

[2021-09-10 08:50] madewild opened #53 "Rename all files to different format?"
To check with KBR and Belgicapress...

[2021-09-20 10:13] madewild commented on #53
Wait for STOCK migration

[2021-09-20 10:14] madewild opened #55 "Add link to Belgicapress"
Recontruct URL with GET parameters

[2022-06-10 10:50] #55 closed

[2022-06-10 10:50] #53 closed

[2022-06-10 11:57] madewild opened #56 "Add Petit Bleu newspaper"

[2022-06-10 11:57] madewild opened #57 "Add lesbian journal from the 60s"

[2022-06-10 11:57] madewild opened #58 "Integrate ULB CAS"
Check possibility outside ulb.be domain...
Alternative: ad-hoc accounts for students

[2022-06-10 12:00] madewild opened #59 "Change DNS to LaPIJ subdomain"
Check with @laurence001 who is maintaining https://lapij.ulb.ac.be/

[2022-06-10 12:00] madewild opened #60 "Add XLSX export"
With metadata to sort (on top of TXT export)

[2022-06-10 12:01] madewild commented on #40
Also keywords etc, to check with Sebastien + TAC students

[2022-06-10 12:03] madewild commented on #37
Too slow to implement, closing.

[2022-06-10 12:03] laurence001 commented on #59
Bonjour Max, y a-t-il quelque chose que je dois faire de mon côté? Ou tout est ok? Merci !

[2022-06-10 12:09] madewild commented on #59
Hello, l'idée serait de laisser tomber le nom de domaine https://www.camille-ulb-kbr.be/ et d'intégrer la plateforme à LaPIJ, par exemple sur https://camille.lapij.ulb.ac.be/ ou https://lapij.ulb.ac.be/camille (évitons de réutiliser https://lapij.ulb.ac.be/camille-centre-darchives-sur-les-medias-et-linformation-ulb-kbr/ car l'URL est un peu longue ;)
Il faut vérifier avec l'ULB si on peut faire un

[2022-06-10 12:13] laurence001 commented on #59
Il que tu voies ça avec la cellule web car je n'ai aucun accès à tout cela (juste au serveur pour transférer des fichiers mais aucune maîtrise sur les DNS, nom de domaine etc.) Les contacts sont Marc.Albert (at l'université) ou alors Cellule.web (at l'université).

[2022-09-16 07:01] madewild opened #61 "Allow to sort by newspaper"
On top of relevance and date

[2022-09-16 07:10] madewild commented on #37
It is for instance implemented on NewsEye: https://platform.newseye.eu/en/catalog?utf8=%E2%9C%93&locale=en&search_field=articles_exact_search&q=test

![histo](https://user-images.githubusercontent.com/942488/190578271-1d90152a-64e2-41a8-8f26-b55eedd5a42c.png)

This feature is slowing down the whole site.

[2022-09-20 20:10] madewild commented on #60
First version on https://dev.camille-ulb-kbr.be/?query=carbonade
To fine-tune...

[2022-09-20 21:25] madewild commented on #61
Implemented after indexing journal field with:

[code]

[2022-09-20 21:25] #61 closed

[2022-09-20 21:36] madewild commented on #52
Replaced Antoine by Brecht on about page.
Need to leave Antoine? Other people to add (Alexia...)?

Not sure what we wanted to change in the README...

[2022-09-20 21:46] madewild commented on #38
Compare with https://platform.newseye.eu/en/catalog?f%5Blanguage_ssi%5D%5B%5D=fr&f%5Bmember_of_collection_ids_ssim%5D%5B%5D=la_presse&q=chicon&search_field=articles_exact_search

![topbar](https://user-images.githubusercontent.com/942488/191370580-a121e3ed-a2f6-4f0b-b073-aa56b1058b64.png)

[2022-09-20 21:49] madewild commented on #40
Postponing this to v5
To discuss with @sdevaleriola

[2022-09-20 21:51] madewild commented on #18
@sdevaleriola what is your feeling about the maturity of this?

[2022-09-21 20:59] flecam commented on #52
Il faut effectivement mettre Brecht à la place d'Antoine (y compris dans le comité scientifique).
Pour ajouter Alexia, il faudrait ajouter une phrase sur l'équipe de recherche et donc ajouter Manon Libert et Sébastien (et toi!!! si tu as envie!!). Mais comme l'équipe de recherche est mouvante, ce n'est pas trop pénible de changer régulièrement?

[2022-09-22 08:13] madewild commented on #52
First change done on https://dev.camille-ulb-kbr.be/?page=about
For me we can leave like that if OK for you...

[2022-09-26 12:42] flecam commented on #60
Cher Max,
Nous avons le même problème, Brecht et moi. Le fichier excel produit n'est pas tout à fait conforme à nos souhaits:
1- il n'y a pas toujours 2000 signes
2- le texte se divise en colonnes quoique nous fassions
3- l'extraction a pour conséquence une augmentation très nette des caractères étranges dans le texte (souci d'ocr), alors que sur la plateforme les textes sont plus propres.
On rest

[2022-09-26 13:27] madewild commented on #60
Je regarde ça demain...

[2022-09-28 09:41] madewild commented on #60
Nouvelle version en ligne sur https://dev.camille-ulb-kbr.be/?query=carbonade avec fichier XLSX au lieu de CSV (plus facile).

1. C'est normal de ne pas toujours avoir 2000 signes : parfois la page s'arrête et parfois il y a plusieurs occurrences du mot-clé sur la même page, auquel cas les différents matches sont concaténés avec [...]
2. Le problème de colonnes devrait être réglé par le XLSX
3. Mê

[2022-09-28 09:55] madewild commented on #52
@flecam on laisse comme ça ou pas ?

[2022-09-28 11:55] flecam commented on #51
Tu demandes si on est d'accord pour mettre une fonction ok globale quand on fait une recherche, c'est cela? Quelles seraient les autres options?

[2022-09-28 11:56] flecam commented on #38
Ce serait super!

[2022-09-28 11:57] madewild commented on #51
C'est un point qui avait été évoqué avec Antoine, mais une décision n'a jamais été prise.
Pour l'instant chaque filtre doit être validé individuellement, ce qui est plus facile à gérer. Mais s'il y a un réel besoin d'activer de multiples filtres à la fois, je peux développer ça. Sinon on laisse tomber l'idée et ça me laisse du temps pour faire d'autres choses plus prioritaires. ;)

[2022-09-28 11:57] flecam commented on #22
La plateforme comprendra seulement des corpus. Les autres liens extérieurs vont être rapatriés sur la page CAMIlle de la KBR. @bdeseure tu confirmes?

[2022-09-28 11:58] madewild commented on #38
D'accord mais je propose de postposer à début 2023 car il va falloir pas mal tester pour voir comment afficher ça quand plusieurs journaux sont sélectionnés en même temps, etc.

[2022-09-28 11:59] flecam commented on #51
Je viens de répondre à une autre de tes questions sur Newseye, ce n'est pas relié?

[2022-09-28 11:59] flecam commented on #38
ok!

[2022-09-28 12:00] madewild commented on #22
Si c'est le cas on peut supprimer la page https://www.camille-ulb-kbr.be/?page=resources (et l'onglet de menu correspondant) qui est "En construction..." depuis le début.

[2022-09-28 12:01] madewild commented on #51
Pas vraiment... Ici ce n'est pas juste de l'affichage mais un mécanisme complexe d'inter-dépendance des filtres.

[2022-09-28 15:53] madewild commented on #59
@flecam la première partie fonctionne : https://lapij.ulb.ac.be/camille redirige automatiquement vers https://www.camille-ulb-kbr.be/
Maintenant il faut voir si c'est suffisant ou si on veut que l'adresse lapij reste affichée dans le navigateur...

[2022-09-28 22:03] flecam commented on #52
Je ne vois pas tes changements. En cliquant sur l'URL, je retombe encore sur la page avec Antoine.

[2022-09-28 22:04] flecam commented on #22
Oui. On oublie.

[2022-09-28 22:04] flecam commented on #51
Donc, ce sera bien de le développer. A voir où le mettre dans les priorités?

[2022-09-28 22:06] flecam commented on #59
J'imagine que c'est beaucoup plus compliqué si on veut que le lapij reste affiché? Dans ce cas, ce n'est pas prioritaire. Là, c'est déjà bien.

[2022-09-28 22:07] flecam commented on #60
Je regarde demain. Merci!

[2022-09-28 22:08] flecam commented on #18
La segmentation des articles est travaillée par Sébastien... A voir avec lui. Mon idée dinguo serait d'intégrer cela directement dans la plateforme.

[2022-09-29 04:39] madewild commented on #52
J'avais changé dans "Comité scientifique de CAMille" mais j'avais oublié la seconde occurence dans "Le projet".
Cela devrait être OK à présent : https://dev.camille-ulb-kbr.be/?page=about

Autre chose à modifier ou je peux fermer cette issue ?

[2022-09-29 04:44] madewild commented on #22
Voilà c'est supprimé.

[2022-09-29 04:44] #22 closed

[2022-09-29 04:45] madewild commented on #51
Je le postpose à 2023 avec l'autre issue de filtres.

[2022-09-29 04:47] madewild commented on #59
Par forcément plus compliqué mais il y a un risque d'interférence avec le WordPress de LaPIJ... Je regarde ça.

[2022-09-29 04:48] madewild commented on #18
J'en discute mardi avec @sdevaleriola.

[2022-09-29 10:52] madewild commented on #59
Bon pas possible de faire mieux finalement puisque l'ULB ne permet pas l'usage du proxy...

[2022-09-29 10:52] #59 closed

[2022-09-29 10:55] madewild commented on #59
Juste une chose : est-ce qu'on ajoute un onglet CAMille dans le menu sur https://lapij.ulb.be/ ?
Si oui, @laurence001 tu pourrais t'en charger dans WordPress ?
Attention il ne faut pas oublier que ce sera frustrant pour la plupart des utilisateurs puisqu'ils n'auront pas le login/mdp et seront donc bloqués à l'entrée...

[2022-09-29 15:58] laurence001 commented on #59
Bonjour Max,

Il faut poser la question à Florence, en copie. Je peux ajouter l'onglet
mais s'il s'agit d'un accès protégé, je me demande si ce n'est pas mieux
de l'ajouter directement dans le thème avec l'ouverture dans une
nouvelle fenêtre. Dites-moi ce qu'il faut faire, merci !

Laurence

Le 2022-09-29 12:55, Max De Wilde a écrit :

Links:
------
[1] https://github.com/laurence001
[2]
https://g

[2022-09-29 16:14] madewild commented on #19
@flecam @bdeseure vous voyez d'autres stats à ajouter dans le README du ZIP à par le nombre de fichiers par journal ?

[2022-09-29 16:50] madewild commented on #51
Pour rappel, il est déjà possible de DÉselectionner tous les filtres en une fois avec la croix tout en haut

[2022-09-29 16:54] madewild commented on #50
@flecam @bdeseure première version ici, uniquement pour les journaux : https://dev.camille-ulb-kbr.be/?query=chicon&sortcrit=relevance&paper=JB421
Le bouton "Tout" permet de tout sélectionner d'un coup. On peut affiner en fonction de votre retour, et quand c'est bon on étend aux autres filtres de type checkbox (mois et jour de la semaine).

[2022-09-30 12:45] laurence001 commented on #59
Bonjour,

Je pense que ce n’est pas utile. Je préfèrerais que sur la page CAMille du Lapij (https://lapij.ulb.ac.be/camille-centre-darchives-sur-les-medias-et-linformation-ulb-kbr/), nous puissions mettre un petit bloc menant vers la plateforme. Elena a déjà des idées.
Merci,
Florence

--
Professeure invitée – Université de Montréal (2022-23)
Chaire de journalisme - Université Libre de Bruxelles (

[2022-10-06 09:41] madewild commented on #60
@flecam est-ce que les exports Excel sont OK à présent ?

[2022-10-13 09:28] madewild commented on #60
@flecam petit rappel... :)

[2022-10-17 20:50] flecam commented on #60
Coucou @madewild,
En fait, on rencontre divers soucis ces derniers. Quand on fait des requêtes, nous ne tombons pas toujours sur les mêmes résultats. Par exemple, je prends “femmes journalisme”~6, je tombe sur 50 résultats, puis @bdeseure le fait, et il tombe sur des résultats différents, et je recommence et j'ai 500 000 résultats. C'est très étrange. Sais-tu pourquoi nous avons ce souci?
florence

[2022-10-17 20:52] flecam commented on #51
Oui pour post-poser.

[2022-10-17 20:53] flecam commented on #19
@madewild @bdeseure Ce serait déjà bien. Sauf, si on peut aussi mettre des stats par année? héhéhé

[2022-10-17 20:53] #52 closed

[2022-10-18 09:10] madewild commented on #19
OK pour journaux + années

[2022-10-18 09:13] madewild commented on #60
Bizarre bizarre... il faudrait qu'on regarde ensemble. La seule explication que je vois c'est que le cluster Elasticsearch est surchargé et qu'il faudrait alors ajouter un 3e node, mais ça engendrerait un surcoût de ~40€/mois :-/

[2022-10-20 14:42] madewild commented on #58
Email sent on 29 September but still no reply from them...

[2022-10-20 16:18] madewild commented on #19
@flecam @bdeseure c'est implémenté
Pouvez-vous tester sur https://dev.camille-ulb-kbr.be/?query=chicon&zip=true et me dire si je dois ajuster ?

[2022-10-20 16:21] madewild commented on #48
@flecam @bdeseure est-ce qu'on attend vraiment des nouveaux journeaux avec des numéros de pages très élevés (genre 500) ? Dans l'état actuel des choses cela me semble beaucoup de travail pour pas grand chose de modifier ce filtre...

[2022-10-20 16:22] madewild commented on #50
@flecam @bdeseure avez-vous testé ? quel est votre feedback ?

[2022-10-20 16:42] madewild commented on #56
Si je comprends bien, le Petit Bleu est divisé en deux cotes : JB685 et JB685A.
Le premier dossier JB685 contient 21498 fichiers XML à la racine plus deux répertoires :
* pdf : 6202 fichiers PDF
* xml : 16110 fichiers XML
Le second dossier JB685A contient juste deux répertoires :
* pdf : 192 fichiers PDF
* xml : 958 fichiers XML

J'avoue que je suis un peu perdu avec ces nombres qui ne corresponde

[2022-10-21 14:29] bdeseure commented on #56
Cher Max,

Le JB685A contient seulement les mois de mai à novembre de l'année 1897. Ces mêmes mois sont également présents dans le JB685 néanmois. Je demanderai plus d'info à KBR, mais à prémière vue je suggère d'ignorer la JB685A.

Brecht

[2022-10-21 14:42] bdeseure commented on #48
Je ne suis pas sûr de comprendre de quoi il s'agit.

[2022-10-21 14:45] bdeseure commented on #50
Je pense que ça fonctionne parfaitement.

[2022-10-21 14:46] #19 closed

[2022-10-24 06:26] madewild commented on #50
OK alors j'étends aux autres filtres de ce type

[2022-10-24 06:30] madewild commented on #48
Le filtre "Numéro de page" est actuellement de type "slider" comme les années par exemple :
![page_slider](https://user-images.githubusercontent.com/942488/197461508-a2305983-7184-4225-ad84-adc422b24040.png)

Antoine avait suggéré de le remplacer par un filtre de type "boxes", comme pour la date :
![date_boxes](https://user-images.githubusercontent.com/942488/197461602-8a96c23b-4778-4f9e-91b9-5b99

[2022-10-24 08:56] madewild commented on #56
D'accord, mais même dans JB685 il y a des grosses disparités entre les PDF et les XML. Cela risque de poser des problèmes d'affichages quand on clique sur un titre pour visualiser un PDF si celui-ci n'existe pas. :/

[2022-10-26 08:26] bdeseure commented on #48
Franchement je n'ai pas de préférence.

[2022-10-26 08:36] bdeseure commented on #56
Il y a donc trop peu de pdf? Bizarre. Il faudra contrôler du côté de KBR.

Ce qui me frappe c'est que sur le disque dur je ne retrouve que les formats xml. Te souviens-tu comment on a fait pour les pdf?

[2022-10-26 12:48] madewild commented on #56
Oui il y a moins de PDFs que de XMLs pour JB685. Pour les autres titres, j'avais le même nombre de chaque sur le disque dur qui m'avait été fourni par Antoine, je ne sais pas pourquoi tu ne vois pas les PDFs.

[2022-11-03 12:09] bdeseure commented on #56
Est-ce que tu disposes du disque dur CAMille 2? Sur la CAMIlle 1, que j'ai moi, il n'y a pas les PDFs pour le petit bleu. Je me souviens qu'ils ont été livrés par KBR dans un deuxième temps. Je me renseignerai auprès KBR pour les PDFs manquants.

[2022-11-04 15:15] madewild commented on #56
Oui j'ai le disque dur CAMille 2 avec une partie des PDFs. Tiens-moi au courant alors, je vais déjà importer les XML...

[2022-11-07 21:45] madewild commented on #60
Il me semble que https://www.camille-ulb-kbr.be/?query=%E2%80%9Cfemmes+journalisme%E2%80%9D%7E6 donne bien 594.402 résultats. Je l'ai reproduit plusieurs fois, le souci apparaît-il encore chez vous ?

Ceci dit, c'est un problème différent. S'il est toujours présent je peux ouvrir une autre issue, mais est-ce qu'on peut clôturer l'histoire du XLSX ?

[2022-11-07 21:46] madewild commented on #58
The previous tech person left ULB, hence the silence.
Meeting planned this 8 November with his replacement.

[2022-11-07 21:49] madewild commented on #48
Je propose alors de laisser en l'état. Si ce besoin réapparaît plus tard (par exemple lors d'ajouts de titres avec beaucoup de pages), on pourra toujours réssuciter cette issue.

[2022-11-07 21:49] #48 closed

[2022-11-07 22:00] flecam commented on #60
@madewild Oui, c'est un gros souci. Car dans notre recherche originelle, cela donnait 50 résultats très ciblés, qu'il était possible de traiter qualitativement. Je ne comprends pas comment à présent nous passons à 600 000 résultats.

[2022-11-07 22:07] madewild commented on #60
Oh je viens de comprendre, c'est tout bête ! Il faut absolument utiliser les guillemets droits "comme ceci" et non les guillemets courbés de Word “comme cela” !

https://www.camille-ulb-kbr.be/?query=%22femmes+journalisme%22%7E6 donne bien 50 résultats :)

[2022-11-07 22:09] madewild commented on #60
Sans les guillemets droits, le moteur de recherche interprète cela comme une recherche approximative et non une recherche de proximité ;)

[2022-11-07 22:13] madewild commented on #50
Le bouton "Tout" a été étendu aux mois et aux jours de la semaine.
@flecam @bdeseure pouvez-vous tester sur https://dev.camille-ulb-kbr.be/?query=test ?

Attention, il faut peut-être rafraîchir le cache (CTRL+SHIFT+R dans Chrome) car le fichier Javascript a été modifié et il est possible que le navigateur conserve l'ancien en mémoire ce qui fait que les boutons "Tout" ne semblent pas fonctionner d

[2022-11-07 22:14] flecam commented on #60
caramba!!!!!

[2022-11-07 22:17] madewild commented on #60
J'en reviens donc à ma question : pour l'export XLSX tout est OK ? Je peux fermer cette issue ? :)

[2022-11-07 22:18] flecam commented on #50
Moi, ça marche, c'est cool!

[2022-11-07 22:19] flecam commented on #60
Quand je vais par là, non: https://www.camille-ulb-kbr.be/?query=%22femmes+journalisme%22%7E6

[2022-11-07 22:23] flecam commented on #60
Désolée, je n'étais pas sur la bonne version: oui, cela fonctionne. Tout est dans les bonnes colonnes, bien rangé, bien séparé! Merci!

[2022-11-07 22:25] madewild commented on #60
Oui ce n'est pas encore en prod... bientôt ;)

[2022-11-07 22:25] #60 closed

[2022-11-07 22:25] #50 closed

[2022-11-16 07:33] madewild commented on #58
Will be deployed in dev shortly. Postponing to next milestone for prod integration, since it raises many questions about whom can access what and at what level we need to define this (students, colleagues, departments vs research centre, etc.)

[2022-11-16 20:43] madewild commented on #56
@bdeseure sur le disque CAMille 1, dans le répertoire JB685 je trouve 37608 fichiers XML, ce qui semble correspondre aux chiffres ci-dessus pour le disque CAMille 2 (21498 + 16110). Par contre si je regarde le détail, 10 premiers fichiers :

[code]

Doit-on garder les fichiers -mets ?
Je suis en train de dézipper les PDF, ça prend un certain temps ;)

[2022-11-16 22:16] madewild commented on #56
Après extraction, il n'y a que 37366 fichiers PDF. Il faut que j'analyse un peu plus pour voir ce qui manque...

[2022-11-17 08:33] bdeseure commented on #56
@madewild Tu travailles bien dans le dossier PB_PDF? C'est celui qui est nouveau. Le dossier JB685 est identique a celui que tu avais déjà.

Les mets contiennent tout le texte du journal, tandis que les autres xml représentent des pages individuelles. Il ne faut donc pas garder les mets.

Pour les pdfs égalament il faut seulement garder les pages individuelles.

[2022-11-17 08:35] madewild commented on #56
Oui j'ai dézippé PB_PDF. Je vais ignorer les mets des deux côtés et voir si la petite différence de 250 fichiers subsiste ou pas...

[2022-11-23 09:44] madewild commented on #58
@flecam @bdeseure le CAS ULB est finalement activé en dev ! Pouvez-vous essayer de vous connecter sur https://dev.camille-ulb-kbr.be/ pour confirmer que ça fonctionne ?

[2022-11-23 09:46] bdeseure commented on #58
J'ai accès. Qu'est-ce que le CAS?

[2022-11-23 09:50] madewild commented on #58
https://dev.camille-ulb-kbr.be/ redirige automatique vers https://auth.ulb.be/login?service=https%3a%2f%2fdev.camille-ulb-kbr.be%2f ou on peut entrer ses credentials ULB. Si tu étais déjà connecté à l'intranet via une autre application (Mon ULB, portail du personnel, UV, etc.) il est possible que tes identifiants ne te soient pas redemandés.

[2022-11-23 19:21] madewild commented on #56
OK, je confirme que les 242 PDF manquants sont tous des fichiers mets donc cela ne pose pas de problème

[2022-11-23 19:27] madewild commented on #56
Il reste donc 31162 fichiers XML et PDF qui concernent des pages individuelles et non des éditions complètes

[2022-11-24 09:01] madewild commented on #56
J'ai fini d'importer les XML et je suis occupé avec les PDFs, mais j'ai un petit problème avec ces fichiers:

Processing KB_JB685_1895-02-29_01-0001
Processing KB_JB685_1895-02-29_01-0002
Processing KB_JB685_1895-02-29_01-0003
Processing KB_JB685_1895-02-29_01-0004

Le 29 février 1895 ??? Cette date n'existe pas ! D'ailleurs l'édition du lendemain est datée du 2 mars... Je suis embêté car Elastics

[2022-11-24 10:20] bdeseure commented on #58
OK j'ai accès avec mes credentials ULB

[2022-11-24 10:29] bdeseure commented on #56
Problème intéressant :)

Je ferai quand-même la rééricture, puisque ce n'est qu'au niveau des métadonnées. La date d'origine restera visible dans le viewer.

[2022-11-24 12:01] madewild commented on #56
OK on valide avec @flecam et je peux faire ça.

En attendand, les 31158 autres pages du Petit Bleu sont accessibles en dev : https://dev.camille-ulb-kbr.be/?query=*&paper=JB685

[2022-11-24 12:06] bdeseure commented on #56
Super!

[2022-11-28 08:00] madewild commented on #37
Check this possibility: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations.html

[2022-11-28 14:31] madewild opened #63 "Ingest new data from La Presse"
Revues, annuaires...

[2022-11-29 07:52] madewild opened #64 "Adapt scripts and lambda to include language"
Currently added manually afterwards

[2022-11-29 14:41] madewild commented on #64
Other metadata were missing. Lambda has been updated, should be tested with next ingestion.

[2022-11-29 14:41] #64 closed

[2022-11-29 14:42] madewild commented on #57
part of #63 so closing

[2022-11-29 14:42] #57 closed